<footer>
  <h2>CONÉCTATE CON NOSOTROS</h2>
  <p>&copy; 2025 Ángel Domínguez Rodríguez. Todos los derechos reservados</p>
  <p>IES Los Alcores. 2ª CFGS DAW (Desarrollo Web Entorno Cliente)</p>

  <div class="footer-container">
    <div class="footer-column enlaces">
      <h2>SOCIAL</h2>
      <a href="https://discord.com" target="_blank">
        <i class="fab fa-discord"></i> Discord
      </a>
      <a href="https://github.com/darkel5309" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://www.instagram.com/angeel_04_?igsh=bHI3eXY4MWZuano5" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a href="https://www.linkedin.com/in/angel-dominguez-rodriguez-a7789832b" target="_blank">
        <i class="fab fa-linkedin"></i> Linkedin
      </a>
    </div>

    <div class="footer-column descripcion">
      <h2>DESCRIPCIÓN</h2>
      <p>
        Este proyecto es una aplicación cliente sobre la Pokédex de Pokémon utilizando la tecnología de desarrollo front-end Angular y consumiendo la API pública y gratuita que ofrece <a href="https://pokeapi.co/">https://pokeapi.co/</a>. En ella, mostramos todos los Pokémon existentes actualmente, ofrecemos un buscador y mostramos toda la información a cerca de cada uno de ellos.
      </p>
    </div>

    <div class="footer-column feedback">
      <h2>FEEDBACK</h2>
      <h3>Pros</h3>
      <p>asdsadasdas</p>

      <h3>Contras</h3>
      <p>asdasdasdasd</p>

      <h3>Elementos más sencillos</h3>
      <p>asdasdasdasd</p>

      <h3>Elementos más difíciles</h3>
      <p>asdasdadads</p>
    </div>
  </div>
</footer>
