/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Estilos para las Tarjetas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0;
  color: #333;
}

.card-content h3::first-letter {
  text-transform: capitalize;
}

.card-content a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.card-content a:hover {
  background-color: #ffb700;
}

/* Estilos para la Paginación */
.paginacion {
  text-align: center;
  margin-top: 20px;
}

.paginacion button {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paginacion button:disabled {
  background-color: #ccc;
}

.paginacion button:hover:not(:disabled) {
  background-color: #ffb700;
}
